.fondoMenu {
    background-color: #cdd2d8;
}
/* empato por especificidad a bootstrap y ahora, por cascada, porque éste archivo CARGA despues de bootstrap, ganará esta regla */
.navbar-light .navbar-nav .nav-link {
color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(3, 3, 3);
    border-radius: 10px;
}
.active {
    background-color: rgb(242, 232, 198);
}
.navbar-collapse {
    flex-grow: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.bi-facebook {
    font-size: 30px;
    color: rgb(12, 12, 12)
}

#caracteristicas {
    margin-top: 20px;
}

footer {
     background-color: #cdd2d8;
     color: rgb(0, 0, 0);
}

footer list-style:hover{
background-color: brown;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
    padding: 0px;
}

.producto h2 {
    font-size: 24px;
    margin: 10px 0;
    font-family:cursive;
}

.producto p {
    font-size: 16px;
    margin: 10px 0;
}

.producto .precio {
    font-size: 18px;
    color: #ff6600;
    font-weight: bold;
    margin: 10px 0;
}

.producto button {
    background-color: #cdd2d8;
    color: #fff;
    border-radius:30px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

.producto button:hover {
    background-color: #000000;
}